Flow3/flow3.json
[
    {
        "id": "9050707232a67393",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90dde066d363199f",
        "type": "mqtt in",
        "z": "9050707232a67393",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "dbc73c4f59da3ec1"
            ]
        ]
    },
    {
        "id": "dbc73c4f59da3ec1",
        "type": "json",
        "z": "9050707232a67393",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "256d001361c578d5",
                "7a37ad55a18c9723",
                "be26b872ec2aa122"
            ]
        ]
    },
    {
        "id": "e7574fc16b962234",
        "type": "ui_text",
        "z": "9050707232a67393",
        "group": "dad4bf20f40c24a3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d27cd8144c07156",
        "type": "ui_gauge",
        "z": "9050707232a67393",
        "name": "",
        "group": "cdd9709d4a7c24bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Última Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "256d001361c578d5",
        "type": "function",
        "z": "9050707232a67393",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "e7574fc16b962234"
            ]
        ]
    },
    {
        "id": "7a37ad55a18c9723",
        "type": "function",
        "z": "9050707232a67393",
        "name": "",
        "func": "msg.playload = msg.playload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "6d27cd8144c07156",
                "00c986b6df5d0701"
            ]
        ]
    },
    {
        "id": "be26b872ec2aa122",
        "type": "debug",
        "z": "9050707232a67393",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "00c986b6df5d0701",
        "type": "ui_chart",
        "z": "9050707232a67393",
        "name": "Gráfica de la Temperatura",
        "group": "083b690e6b5279b9",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Gráfica",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Temperatura",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bf4040",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ],
        "info": "Esta es la última temperatura"
    },
    {
        "id": "57f91e41e2c5c7ef",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "35.157.158.119",
        "port": "1883",
        "clientid": "armida_12345",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dad4bf20f40c24a3",
        "type": "ui_group",
        "name": "Último Dato: ",
        "tab": "7d0c55a03f6717b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdd9709d4a7c24bc",
        "type": "ui_group",
        "name": "Última Temperatura",
        "tab": "7d0c55a03f6717b9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "083b690e6b5279b9",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "7d0c55a03f6717b9",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d0c55a03f6717b9",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
